default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: ssl_checker_development

staging:
  <<: *default
  database: ssl_checker_staging

test:
  <<: *default
  database: ssl_checker_test
